body {
    background-image: url("../images/back.jpg");
    background-size: cover;
    margin: 0;
    margin: 20px;
}

header {
    display: flex;
    background-color: white;
    opacity: 0.9;
    padding: 20px;
    margin: 10px;
    font-size: 15pt;
}

.main {
    margin: 10px;
    height: 600px;
}

.avatar {
    display: inline;
    float: left;
    width: 40%;
    height: 100%;
}

.aboutme {
    display: inline;
    width: calc(60% - 10px);
    margin-left: 10px;
    float: left;
    height: 100%;
}

.name {
    background-color: white;
    opacity: 0.9;
    height: 20%;
    padding: 30px;
    font-size: 67.5pt;
    text-align: center;
}

.info {
    margin: 5px 0px 0px 0px;
    background-color: white;
    opacity: 0.9;
    float: left;
    width: calc(calc(100% - 50px) / 2);
    height: calc(70% - 25px);
    font-size: 20pt;
    padding: 10px;
}

.preference {
    margin: 5px 0px 0px 0px;
    background-color: white;
    opacity: 0.9;
    float: right;
    width: calc(calc(100% - 50px) / 2);
    height: calc(70% - 25px);
    font-size: 20pt;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
    transition: .6s;
}

header > span > a {
    padding: 3px;
}

header > span > a:hover {
    background-color: blanchedalmond;
    transition: 0.3s;
    border-radius: 2px;
}

header > span {
    margin-left: 15px;
}