body {
    background-image: url("../images/back.jpg");
    background-size: cover;
    margin: 1%;
}

header {
    display: flex;
    background-color: white;
    opacity: 0.9;
    padding: 20px;
    margin: 0.5%;
    font-size: 120%;
}
.main {
    margin: 0.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.avatar{
    width: 37%;
    height: auto;
    padding: 5%;
    background-color: rgba(255,255,255,0.9);
    }
.avatar > img{
    border-radius: 15px;
}
.aboutme{
    width: calc(51% + 20px);
}
.info{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    height: 74.5%;
}
.name{
    background-color: rgba(255,255,255,0.9);
    text-align: center;
    height: 25%;
    margin-bottom: 0.5%;
    font-size: 200%;
}
.hobby{
    background-color: rgba(255,255,255,0.9);
    width: calc(99.5% / 2);
    font-size: 100%;
}
.preference{
    background-color: rgba(255,255,255,0.9);
    width: calc(99.5% / 2);
    height: 100%;
}
a {
    text-decoration: none;
    color: black;
    transition: .6s;
}

header > span > a {
    padding: 3px;
}

header > span > a:hover {
    background-color: blanchedalmond;
    transition: 0.3s;
    border-radius: 2px;
}

header > span {
    margin-left: 15px;
}

.container1 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, .9);
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.container1 img {
    width: 250px;
    height: 250px;
    margin-bottom: 6px;
    margin-right: auto;
    margin-left: auto;
}

.container1 > div {
    display: flex;
    padding: 10px;
    flex: 1;
    align-content: center;
    flex-direction: column;
    background-color: aqua;
    justify-content: space-around;
}

.container1 span {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    font-size: 12pt;
    padding: 4px;
}

.container2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 10px 10px 20px 10px;
    grid-gap: 30px;
    background-color: rgba(255, 255, 255, .9);
    padding: 10px;
}

.container2 img {
    width: 100%;
    height: 400px;
    margin-bottom: 6px;
}

.container2 > div {
    padding: 8px;
    background-color: aqua;
}

.container2 > div > div {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    font-size: 20pt;
    padding: 4px;
}
@media screen and (max-width: 700px){
    .container2 {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        margin: 10px 10px 20px 10px;
        grid-gap: 30px;
        background-color: rgba(255, 255, 255, .9);
        padding: 10px;
    }
    .avatar{
        width: 100%;
        height: auto;
        padding: 5%;
        background-color: rgba(255,255,255,0.9);
        align-content: center;
    }
    .info{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        height: 74.5%;
        margin-top: 5px;
        font-size: 50%;
    }
    .aboutme{
        width: 100%;
    }
    .name{
        font-size: 100%;
    }
}
@media screen and (min-width: 701px) and (max-width: 1100px){
    .avatar{
        width: 100%;
        height: auto;
        padding: 5%;
        background-color: rgba(255,255,255,0.9);
        align-content: center;
    }
    .info{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        height: 74.5%;
        margin-top: 5px;
    }
    .aboutme{
        width: 100%;
    }
}