body {
    background-image: url("../images/back.jpg");
    background-size: cover;
    margin: 20px;
}

header {
    display: flex;
    background-color: white;
    opacity: 0.9;
    padding: 20px;
    margin: 10px;
    font-size: 15pt;
}

.main {
    margin: 10px;
    height: 600px;
}

.avatar {
    display: inline;
    float: left;
    width: 40%;
    height: 100%;
}

.aboutme {
    display: inline;
    width: calc(60% - 10px);
    margin-left: 10px;
    float: left;
    height: 100%;
}

.name {
    background-color: white;
    opacity: 0.9;
    height: 20%;
    padding: 30px;
    font-size: 67.5pt;
    text-align: center;
}

.info {
    margin: 5px 0 0 0;
    background-color: white;
    opacity: 0.9;
    float: left;
    width: calc(calc(100% - 50px) / 2);
    height: calc(70% - 25px);
    font-size: 20pt;
    padding: 10px;
}

.preference {
    margin: 5px 0 0 0;
    background-color: white;
    opacity: 0.9;
    float: right;
    width: calc(calc(100% - 50px) / 2);
    height: calc(70% - 25px);
    font-size: 20pt;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
    transition: .6s;
}

header > span > a {
    padding: 3px;
}

header > span > a:hover {
    background-color: blanchedalmond;
    transition: 0.3s;
    border-radius: 2px;
}

header > span {
    margin-left: 15px;
}

.container1 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgba(255, 255, 255, .9);
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.container1 img {
    width: 250px;
    height: 250px;
    margin-bottom: 6px;
    margin-right: auto;
    margin-left: auto;
}

.container1 > div {
    display: flex;
    padding: 10px;
    flex: 1;
    align-content: center;
    flex-direction: column;
    background-color: aqua;
    justify-content: space-around;
}

.container1 span {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    font-size: 12pt;
    padding: 4px;
}

.container2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 10px 10px 20px 10px;
    grid-gap: 30px;
    background-color: rgba(255, 255, 255, .9);
    padding: 10px;
}

.container2 img {
    width: 100%;
    height: 400px;
    margin-bottom: 6px;
}

.container2 > div {
    padding: 8px;
    background-color: aqua;
}

.container2 > div > div {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    font-size: 20pt;
    padding: 4px;
}